@import "tailwindcss";

/* Custom breakpoints */
@media (max-width: 505px) {
  .text-responsive-h1 {
    font-size: 1.6rem;
  }
  
  .text-responsive-p {
    font-size: 0.80rem;
  }
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}